extends layout

block content
  include partials/header
  h1 My Page is #{About}
  h2 My Name is Harjot Singh
  h3 I like to play video games 
  h3 I like to travel a lot of places 
  h4 currently enrolled in gerogian college 
  h5 watching exotics car on youtube
  h5 working at gas station 
  include partials/footer