extends layout

block content
  include partials/header
  h1 My web page  #{ContactMe}
  h2 Email-address is Harjot.singh1611@gmail.com
  h2 Phone number is +1-249-989-0940
  br
  <form>
    <div class="form-field">
    <label for="name">Name: </label>
    <textarea class="input" id="name" name="name" rows="1"></textarea>
  </div>
  </form>