extends layout

block content
    include partials/header
    h1 My Projects Page is #{Projects}
    p the county courthouse is a historic building that is located in the oldest town in the state. Over the past few years several "localized" floods have occurred in the two-block region surrounding the courthouse. These floods develop as a result of rainfall events that are at or near the yearly maximum
    p the repeated flooding events are partially caused by an unusually high water table in this small area. The water table has hit the ground surface in some locations to produce artificial springs.
    p The water table is sufficiently high that the foundation of the courthouse is continually wet and the crawl space below the building has standing water in it. The courthouse is made of adobe and the walls have "wicked" the groundwater upwards into the building.
    include partials/footer